.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(104, 99, 99, 0.2); /* نور سفید شفاف */
    backdrop-filter: blur(5px); /* افکت بلور */
    -webkit-backdrop-filter: blur(5px); /* برای سافاری */
    z-index: 50; 
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bgModal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: scale(0.25);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .modalContent {
    position: relative;
    z-index: 60; 
    background-color: var(--color-surface);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--color-border);
    animation: slideIn 0.3s ease-out forwards;
    min-width: 300px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    gap:20px
  }

  .closeButton ,.closeButton:hover {
    font-size: 24px;
    cursor: pointer;
    margin-right: auto;
    background-color: transparent;
    color: var(--color-text);
  
  }


  